<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript">
        var submitEntity = function () {
            $.ajax({
                url: '/skribentus/{{path}}/{{id}}',
                type: 'PUT',
                data: JSON.stringify({
                    id: "{{id}}",
                    name: $("#name").val(),
                    price: $("#price").val(),
                    imageLink: $("#imageLink").val(),
                    targetLink: $("#targetLink").val(),
                    tags: $("#tags").val().split(',')
                }),
                success: function (entity, xhr) {
                    window.location.href = '/skribentus/{{path}}/' + entity.id + '/edit?justSaved';
                }
            });
        };
        setTimeout(function () {
            $("h2").remove()
        }, 6000)

    </script>
</head>
<body>
<H1>Ändra entitet {{name}} </H1>
{{#if justSaved}}
<h2 id="#saved">Ändrad!</h2>
{{/if}}
<div>
    <input type="button" value="Tillbaka" onclick="window.location.href = '/skribentus/{{path}}/edit'"/>
</div>
<div>
    <table>
        <tr>
            <td>Namn:</td>
            <td><input id="name" title="namn" value="{{name}}" type="text"/></td>
        </tr>
        <tr>
            <td>Pris:</td>
            <td><input id="price" title="pris" value="{{price}}" type="text"/></td>
        </tr>
        <tr>
            <td>Bildlänk:</td>
            <td><input id="imageLink" title="Bildlänk" value={{imageLink}} size="100" type="text"/></td>
        </tr>
        <tr>
            <td>Affiliatelänk:</td>
            <td><input id="targetLink" title="Mållänk" value="{{targetLink}}" size="100" type="text"/></td>
        </tr>
        <tr>
            <td>Taggar(separera med komma):</td>
            <td><input id="tags" title="tags" value="{{tags}}" size="100" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="submitEntity" title="Ändra" value="Ändra" onclick="submitEntity()" type="button"/></td>
        </tr>
    </table>
</div>
</body>
</html>