<html>
<head>
    <style>
        table {
            padding: 8px;
            border-spacing: 8px;
            border-width: 1px;
        }
    </style>
</head>
<body>
<H1>Sittpuffar</H1>
<div>
    <div><a href="/sittpuffar/new">Skapa ny</a></div>
    <table>
        <tr>
            <th>#</th>
            <th>namn</th>
            <th>pris</th>
            <th>bildlänk</th>
            <th>affiliatelänk</th>
            <th>taggar</th>
        </tr>
        {{#each sittpuffar}}
        <tr>
            <td> {{@index}}</td>
            <td> <a href="/sittpuffar/{{id}}/edit">{{name}}</a></td>
            <td> {{price}}</td>
            <td> {{imageLink}}</td>
            <td> {{targetLink}}</td>
            <td> {{tags}}</td>
        </tr>
        {{/each}}
    </table>
</div>
</body>
</html>